<div class="container-fluid bg-secondary py-h">
    <div class="container text-white">
        <div class="display-5">Deportes</div>
        <p class="lead">Lista Deportes</p>
    </div>
  </div>
  <div class="container">
    <div class="class-group ">
      <div class="card" *ngFor="let i of listaDeportes" style="align-items: center;">
          <img [src]="i.urlImagen" alt="..." style="width: 250px;; height: 250px;; margin-top: 10px; margin-right: 10px;">
          <div class="card-body">
            <h5 class="card-title" >{{i.nombre}}</h5>
            <p class="card-text">{{i.descripcion}}</p>
          </div>
      </div> 
    </div>
  </div>
  
